{% extends "layout.html" %}
{% block body %}
<!-- Menu Starts  -->
<div class="menu col-10 col-lg-2">
    {% include 'sem/sem5/ai/ai.html' %}
</div>
<!-- Menu Ends  -->
<!-- Context Starts  -->
<div class="context col-12 col-lg-8">
    <div class="title">SVM – Support Vector Machine</div>
    <div class="subtitle">
        In machine learning, support-vector machines (SVMs, also support-vector networks) are supervised learning models
        with associated learning algorithms that analyze data used for classification and regression analysis.
    </div>
    <div class="code">
        Code:
        <pre>
            <code class="language-python">
                print("Hello World!")
            </code>
        </pre>
    </div>
    <div class="code">
        Output:
        <pre>
            <code class="language-txt">
                Hello World!
            </code>
        </pre>
    </div>
    <hr>
</div>
<!-- Context Ends  -->
{% endblock body %}