{% extends "layout.html" %}
{% block body %}
<!-- Menu Starts  -->
<div class="menu col-10 col-lg-2">
    {% include 'sem/sem3/java/java.html' %}
</div>
<!-- Menu Ends  -->
<!-- Context Starts  -->
<div class="context col-12 col-lg-8">
    <div class="title">
        Java Setup
    </div>
    <div class="tutorial">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/IJ-PJbvJBGs" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>
    <hr>
</div>
<!-- Context Ends  -->
{% endblock body %}