<div class="menu-item">
    <div class="menu-title"><i class="fas fa-chevron-right"></i> Semester 1</div>
    <div class="menu-context">
        <a class="menu-option" href="/sem1/python">Python</a>
        <a class="menu-option" href="/sem1/dbms">DBMS</a>
    </div>
</div>
<!--  -->
<div class="menu-item">
    <div class="menu-title"><i class="fas fa-chevron-right"></i> Semester 3</div>
    <div class="menu-context">
        <a class="menu-option" href="/sem3/web">WEB</a>
        <a class="menu-option" href="/sem3/java">Java</a>
    </div>
</div>
<div class="menu-item">
    <div class="menu-title"><i class="fas fa-chevron-right"></i> Semester 5</div>
    <div class="menu-context">
        <a class="menu-option" href="/sem5/ai">AI</a>
        <a class="menu-option" href="/sem5/linux">Linux</a>
    </div>
</div>